[Desktop Entry]
Type=Application
Version=1.0
Name=OpenAurum
GenericName=Iluminação do teclado
Comment=Efeitos, cores, brilho e cenas do teclado Pichau Aurum V60
Exec=openaurum
Icon=io.github.its_danilo.OpenAurum
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=keyboard;teclado;rgb;led;pichau;aurum;v60;
StartupWMClass=io.github.its_danilo.OpenAurum
